{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUG Bauchi</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=sans-serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=sans-serif:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{%static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container"><img class="img-fluid pr-3 aa-logo-img" src="{%static 'img/logo.png' %}" alt="logo"><a class="navbar-brand px-0 py-0" href="#">AUG Bauchi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href='{% url "index.html" %}'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{% url "events.html" %}'>Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://aug.atlassian.com/accounts/signup/ ">Join Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-color: darkblue">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Upcoming Events</h1>
              <span class="subheading text-warning">RSVP for Upcoming Events</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="aa-price-package section text-dark" id="pricing">
  <div class="container">
    <div class="text-center text btn-warning">
      <h2 class="title">Upcoming Events </h2>
    </div>
   <!-- UPCOMING EVENTS -->
    </header>
    <div class="card card-lift--hover shadow border-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">Project Management using Trello the Atlassian way!</h6>
                    <p class="description mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                  
                      <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="#" <button type="button" class="btn btn-warning">RSVP</button> </a></div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-2">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">Integrating Atlassian Products into Business</h6>
                    <p class="description mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="#" <button type="button" class="btn btn-warning">RSVP</button> </a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">Networking Party the Atlassian way at Zaranda Hotel and Suites!</h6>
                    <p class="description mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                     <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="#" <button type="button" class="btn btn-warning">RSVP</button> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; AUG Bauchi 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{%static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
