{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AUG Bauchi</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{%static 'css/clean-blog.min.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
     <div class="container"><img class="img-fluid pr-3 aa-logo-img" src="{%static 'img/logo.png' %}" alt="logo"><a class="navbar-brand px-0 py-0" href="#">AUG Bauchi</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href='{% url "index.html" %}'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://aug.atlassian.com">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='{% url "events.html" %}'>Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://aug.atlassian.com/accounts/signup/">Join Us</a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-color: darkblue">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-15 col-md-15 mx-auto">
            <div class="site-heading">
              <h1>Atlassian User Group</h1>
              <h2><span class="text-warning">Bauchi, Nigeria</span></h2>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    </header>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">AUG Bauchi Launched</h6>
                    <p class="description mt-3 text-justify">Atlassain User Group had her first Meetup Lunching in Bauchi at Uplifthub Adjacent Admin block at the Federal Polytechnic Bauchi, the community has a total population of ...</p>
                  
                      <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="post1.html" <button type="button" class="btn btn-warning">Read More</button></a></div>
                    </div>
                  
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">AUG meetup on Git</h6>
                    <p class="description mt-3 text-justify">We had a learning session with Abubakar Siddiq Ango a software Engineer with Gitlab where he taught about Git;what it is and how to use it...
                    </p>
                    <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="post2.html" <button type="button" class="btn btn-warning">Read More</button> </a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/home-bg.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">Watch Party Event was WOW!</h6>
                    <p class="description mt-3 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam ... </p>
                     <div class="row justify-content-center">
                      <div class="col-lg-6 col-md-7 py-2 "><a href="post3.html" <button type="button" class="btn btn-warning">Read More</button> </a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="clearfix">
      <a class="btn  float-right text-danger" href="#" >Older Posts &rarr; </a>
  </div>

 
  <hr/>
<div class="container">
  <hr/>
</div>
<div class="aa-testimonials-section section">
  <div class="container">
    <div id="toast-container" ng-class="[config.position, config.animation]" toaster-options="{'time-out': 4000, 'position-class': 'toast-bottom-right'}" class="ng-scope toast-bottom-right">

      <!-- ngRepeat: toaster in toasters -->
         </div><div id="boxes">
          <div id="dialog" class="window" style="background-color: #F44336;; color: white">
            <div id="lorem">
            <center>
              <p style="color: white; margin-top: 30px;">
              Meet AUG Bauchi Team</center>
            </div>
            <div id="popupfoot"> <a class="close agree"><b style="color: white">Close</b></a></div>
          </div>
          <div style="width: 100%; font-size: 32pt; color:white; height: 602px; display: none; opacity: 0.8;" id="mask"></div>
        </div>
      </header>
    <section class="section section-lg pt-lg-0 mt--200 text-justify">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <img class="card-img-top" src="{%static 'img/fidel.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger">Fidelis Okafor</h6>
                    <p class="text-muted">Lead</p>
                    <p class="description mt-3 text-justify">Fidel is tech Enthausiast, he is a Community Leader with DevC Bauchi, he has passion for Community Development. He is currently the Developer Relations for Uplift Nigeria. </p>
                
                  </div>
                </div>
              </div>
              <div class="col-lg-4 text-justify">
                <div class="card card-lift--hover shadow border-0">
                <img class="card-img-top" src="{%static 'img/josh.jpg' %}" alt="events images ">
                  <div class="card-body py-5 text-justify">
                    <h6 class="text-danger">Joshua Oyeshola Oluwafemi</h6>
                    <p class="text-muted">Co-Lead</p>
                    <p class="description mt-3 text-justify">Joshua is a Tech and Enterprenuerial Enthuasiat, he is passionate about Community Development, he is Currently a Trainer with Mindthe_GapNG for Google Digital Skills.
                    </p>
                    <div class="row justify-content-center">
                     </div> 
                  </div>
                </div>
              </div>
              <div class="col-lg-4 text-justify">
                <div class="card card-lift--hover shadow border-0">
                <img class="card-img-top" src="{%static 'img/sem.jpg' %}" alt="events images ">
                  <div class="card-body py-5">
                    <h6 class="text-danger text centre">Semmwa Wilson</h6>
                    <p class="text-muted">Co-Lead</p>
                    <p class="description mt-3 text-justify">Semmwa is a tech enthuasiat who is passionate about bringing more females into the Tech ecosystem.She does python and django also a Co Lead with Django Girls Bauchi.</p>
                     <div class="row justify-content-center">
                      <div class="col-lg-4 col-md-5 py-0 "></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; AUG Bauchi 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{%static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
